body{  
  background: rgb(245, 245, 245);
  font-size: 14px;
}

.App{
  height: 100%;
  width: 100%;
}

/* Navigation Bar*/
.header{
  border-bottom: solid 2px #85A3BF;
  background-color: white;
  padding: 3px;
}
.img-responsive{
  max-width: 80%;
}

/* Home Page*/
.home-banner {
  position: relative;
  text-align: center;
  color: white;
}
.home-banner-text {
  position: absolute;
  top: 40%;
  left: 10%;
}
.home{
  width: 100%;
}
.profile-body{
  padding: 20px;
  margin: 20px 0px 65px;
  background: rgb(245, 245, 245);
  font-size: 13px;
  border: solid 1px rgb(59, 59, 59);
  border-radius: 0.5rem;
}
.profile-header{
  font-size: 13px;
}
.row{
  justify-content: center;
  font-size: 12px;
}

/* wrapper of Report List */
.wrapper{
  padding-top: 10px;
  padding-bottom:  65px;
  background: rgb(245, 245, 245);
}
.content{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Footer */
.footer{
  border-top: 1px;
  background-color: black;
  color: white;
  font-size: x-small;
  padding: 2px;
}
.footerlogo{
  max-width: 60%;
}

/* Report List - pagination */
.nav-page{
  border-top: solid 2px #eee;
  display: flex;
  padding: 10px
}
.numberofpages{
  justify-content: left;
  width: 70px;
}
.entriesPerPage{
  font-size: small;
  margin:10px;
}

/* table */
.table{
  justify-content: center;
}
.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/* search area */
.searchForm{
  padding: 10px;
  display: flex;
}
.search-bar{
  background: rgb(245, 245, 245);;
}

/* tags */
.input-tag {
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.input-tag input {
  border: none;
  width: 100%;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  font-size: 12px;
  background: #85A3BF;
  border-radius: 1020px;
  color: white;
  display: flex;
  font-weight: 700;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px 5px;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: #333333;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 12px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
}

.table-tags{
  align-items: center;
  font-size: 12px;
  border-color: rgb(211, 208, 208);
  border-radius: 1020px;
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-bottom: 2px;
  margin-right: 4px;
  padding: 1px 2px;
}